:local(.subheader) {
    .aboutactive {
        outline: 1px solid black;
    };

    div {
        text-align: center;
        margin: 1px 10%;
    };

    nav {
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        justify-content: center;

        span {
            text-align: center;
            padding: 1em;
            border: 1em;
            margin: 1em;
        };
    };
};